<app-side-menu-bar></app-side-menu-bar>
<section>
  <div class="Head">
    <h1>Payment Schedule</h1>
  </div>
  <div class="table-responsive">
    <div class="head-text">
      <h5>Customer ID:{{id}}</h5>
    </div>
    <table class="table" >
      <thead class="table-dark">
          <tr>
              <th >Payment Id</th>
              <th >Payment Date</th>
              <th >Principal</th>
              <th >Projected Interest</th>
              <th >Payment Status</th>
              <th >Payment Amount</th>
              <th > Pay </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let schedule of schedules | paginate:{
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count}; let i = index">
              <td>{{schedule.id}}</td>
              <td>{{schedule.paymentDate}}</td>
              <td>{{schedule.principal | currency:"INR" }}</td>
              <td>{{schedule.projectedInterest | currency:"INR" }}</td>
              <td>{{schedule.paymentStatus}}</td>
              <td>{{schedule.paymentAmount | currency:"INR" }}</td>
              <td><button class=" btn btn-primary" (click)="onConfirm()"
                [disabled]="!(schedule.paymentStatus === 'AwaitingPayment')">pay</button>
              </td>

            </tr>
      </tbody>
    </table>
    <div class="pagination">
      <div >
        <select class="form-select mb-3" (change)="onTableSizeChange($event)" aria-label="Default select example">
          <option selected>Table size</option>
          <option *ngFor="let size of tableSizes"> {{size}}</option>
        </select>
      </div>
      <div style="flex: 3;">
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
  
      </pagination-controls>
      <button style="margin-left: 20px;" [routerLink]="['/loanDetails']" class="btn btn-primary">Back</button>
      </div>
    </div>
  </div> 
  <div class="popup" id="ConfirmationPopup" >
    <img src="../../assets/Hands - Phone.png">
    <h2>Confirmation</h2>
    <p>Click the confirm button to confirm</p>
    <button type="submit" class = "btn btn-primary confirm" (click)="payment()" routerLinkActive="router-link-active">Confirm</button>
    <button type="submit" style="margin-left: 20px;" class = "btn btn-primary Back" (click)="back()" routerLinkActive="router-link-active">cancel</button>
</div>
</section>
<section></section>
<section></section>