
button{
    border: none;
    border-radius: 0px;
    background-color: #3366ff;
}
button:hover{
    background-color: var(--sidebar-color);
    color: #3366FF;
}

.pagination{
    display: flex;
    color: var(--text-color);
}

section{
    height: 100vh;
    background-color: var(--sidebar-color);
    text-align: center;
}
.Head{
    position: absolute;
    top:1%;
    left: 33%;
    color: var(--text-color);
}
.head-text{
    color: var(--text-color);
}

.table-responsive{
    position: absolute;
    top:100px;
    width: fit-content;
    left:270px;
}
.table{
    background-color: var(--primary-color-light);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    color: var(--text-color);
}

@media(max-width:1000px) {
    .pagination{
        width: 300px;
    }
}

.popup{
    width:400px;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.3s, top 0.4s;
    background: var(--sidebar-color);
    box-shadow: 0px 0px 6px var(--text-color);
    color: var(--text-color);
}

img{
    width: 100px;
    top :-30px;
}

.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}