.container{
    position: absolute;
    margin-left: 100px;
    top:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);

}
button{
    border: none;
    border-radius: 0px;
    background-color: var(--primary-color);
}
.container h1{
    font-size: xx-large;
}

.container img{
    width: 200px;
}