input.ng-invalid.ng-touched{
    border: red 1px solid;
} 

.text-danger{
    font-style: italic;
    font-size: smaller;
}
.val{
    font-size: smaller;
}

.gridGroup{
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 15px;
}
button{
    border: none;
    border-radius: 0px;
    background-color: var(--primary-color);
}

.card{
    border:none;
    margin-top: 50px;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--primary-color-light);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    color: var(--text-color);
}
section{
    height: 100vh;
    background-color: var(--sidebar-color);
    text-align: center;
}

.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 300px;
    left:100px;
    
}
.popup{
    width:400px;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.3s, top 0.4s;
    background: var(--sidebar-color);
    box-shadow: 0px 0px 6px var(--text-color);
    color: var(--text-color);
}

img{
    width: 100px;
    top :-30px;
}

.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}

