<div class="container">
    <div class=" row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Create Loan</h1>
                    <br>
                </div>
                <form>
                    <form [formGroup]="createLoan" (ngSubmit)="createLoans()">
                        <span style="color: red" 
                        *ngIf="createLoan.controls['loanStartDate'].dirty">{{message}}</span>
                        <div class="mb-3">
                            <div class= "LoanAmount">
                            <label for="loanAmount"  class="form-label">Loan Amount</label>
                            <span class="text-danger" *ngIf="submitted && createLoan.hasError('required','loanAmount')"> *Loan amount is required</span>
                            <input formControlName="loanAmount" placeholder="enter the amount" type="number" class="form-control" id="loanAmount" required >
                            </div>
                            <span style="color: red" 
                            *ngIf="createLoan.controls['loanAmount'].dirty && createLoan.hasError('min','loanAmount')">*minimum value 1000 </span>
                        </div>
                        <div class="mb-3 gridGroup">
                            <div class= "TradeDate">
                                <label style="flex: 100px;" for="tradeDate"  class="form-label">Trade date</label>
                                <span class="text-danger" *ngIf="submitted && createLoan.hasError('required','tradeDate')"> *required</span>
                                <input formControlName="tradeDate" type="date" class="form-control" id="tradeDate" required >
                            </div>
                            <div class= "StartDate">
                                <label for="loanStartDate"  class="form-label">Start Date</label>
                                <span class="text-danger" *ngIf="submitted && createLoan.hasError('required','loanStartDate')">  *required</span>
                                <input formControlName="loanStartDate" type="date" class="form-control" id="loanStartDate" required >
                            </div>
                        </div>
                        <div class="mb-3 gridGroup">
                            <div>
                                <label for="termOfLoanInMonths" class="form-label">Term of loan</label>
                                <select class="form-select" formControlName="termOfLoanInMonths" aria-label="Default select example" id="termOfLoanInMonths">
                                    <option value=12> 12 Months </option>
                                    <option value=24> 24 Months </option>
                                    <option value=36> 36 Months </option>
                                    <option value=48> 48 Months </option>
                                  </select>
                            </div>
                            <div class="mb-3">
                                <label for="paymentFrequency" class="form-label">Payment Frequency</label>
                                <!-- <input formControlName="currencyPair" type="text" class="form-control" id="currencyPair"> -->
                                <select class="form-select" formControlName="paymentFrequency" aria-label="Default select example" id="termOfLoanInMonths">
                                    <option value=1> Monthly </option>
                                    <option value=3> Quarterly </option>
                                    <option value=6> Semi-Annually </option>
                                    <option value=12> Annually </option>
                                  </select>
                            </div>

                        </div>
                        <div class="mb-3 gridGroup">
                            <div class="mb-3">
                                <label for="paymentTerm" class="form-label">Payment Term</label>
                                <select class="form-select" formControlName="paymentTerm" aria-label="Default select example" id="paymentTerm">
                                    <option value="InterestOnly">Interest Only</option>
                                    <option value="EvenPrincipal">Even Principal</option>
                                </select>
                                </div>
                            <div class= "InterestRate">
                            <label style="flex: 100px;" for="interestRate"  class="form-label">Interest</label>
                            <span class="text-danger" *ngIf="submitted && createLoan.hasError('required','interestRate')"> *required</span>
                            <input formControlName="interestRate" placeholder="Interest rate" type="number" class="form-control" id="interestRate" required >
                            <span style="color: red" 
                            *ngIf="createLoan.controls['interestRate'].dirty && createLoan.hasError('min','interestRate')">invalid interest</span>
                            </div>
                        </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button style="margin-left: 20px;" [routerLink]="['/home']" class="btn btn-primary">Back</button>
                    </form>
                </form>
                <div class="popup" id="ConfirmationPopup" >
                    <img src="">
                    <h2>Loan is Created</h2>
                    <button type="submit" class = "btn btn-primary Back" [routerLink]="['/home']" routerLinkActive="router-link-active">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>